.header {
    background-color: green;

    title {
        color: #96cbef;
    }

    &:hover {
        background-color: #2c3946;
    }
}
.header1{
height: 50px;
}
.bg-primari{
    background-color: green;
}

.MuiBox-root {
    background-color: green;
}
